/*null style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
body {
  height: 100%;
  font-size: 16px;
  font-family: "Circular Std", serif;
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper main {
  flex-basis: auto;
  flex-grow: 1;
}
.wrapper footer {
  flex-basis: auto;
  flex-grow: 0;
}

.button {
  font-size: 17px;
  line-height: 1.295; /* 22/17 */
  white-space: nowrap;
  color: #fff;
  padding: 18px 35px;
  background: #313131;
  border-radius: 5px;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}
.button:hover {
  color: #313131;
  background-color: #e0e0e0;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.1), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.1);
}
.button:active {
  background-color: #a0a0a0;
}
.button_asymmetric {
  border-radius: 0 5px 5px 0;
}
.button_alt {
  color: #313131;
  background-color: #e0e0e0;
}
.button_outline {
  background-color: transparent;
  border: 1px solid #313131;
}
.button_outline span {
  color: #313131;
}
@media (any-hover: hover) {
  .button_outline:hover {
    border: 1px solid transparent;
    transition: all 0.3s ease 0s;
  }
}

.logo {
  z-index: 3;
  margin-right: 30px;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.28; /* 32px/25 */
  letter-spacing: -0.06em;
  color: #313131;
}

.header {
  z-index: 50;
  padding-top: 18px;
  padding-bottom: 18px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 86px;
  z-index: 2;
  background-color: #fff;
}
@media (max-width: 767px) {
  .header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 86px;
    z-index: 2;
    background-color: #fff;
  }
}
.header__container {
  z-index: 3;
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__container {
    justify-content: end;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.header__logo {
  z-index: 3;
  margin-right: 30px;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.28; /* 32px/25 */
  letter-spacing: -0.06em;
  color: #313131;
}
@media (max-width: 767px) {
  .header__logo {
    flex-grow: 1;
    margin: 0;
  }
  .header__logo span {
    display: block;
    border-radius: 50%;
    min-width: 58px;
    width: 58px;
    height: 58px;
    padding-left: 12px;
    letter-spacing: 48px;
    font-size: 55px;
    overflow: hidden;
    background-color: #ffe600;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
  }
}
.header__menu {
  font-size: 17px;
  font-weight: 450;
  line-height: 22px;
}
.header__actions {
  flex: 1 1 235px;
}
@media (min-width: 767px) {
  .header__actions {
    flex: 1 0 235px;
  }
}

.menu {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .menu {
    justify-content: end;
    order: 3;
    flex: 0 0 auto;
  }
}
.menu__icon {
  z-index: 3;
  display: none;
  width: 58px;
  height: 58px;
  flex: 0 0 58px;
  background: #313131;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
  border-radius: 5px;
  cursor: pointer;
}
.menu__icon span {
  display: block;
  width: calc(100% - 12px);
  height: 2px;
  background-color: #ffe600;
  margin: 0 auto;
  position: relative;
}
.menu__icon span::before, .menu__icon span::after {
  content: "";
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 2px;
  background-color: #ffe600;
  margin: 0 auto;
  position: absolute;
  left: 0;
}
.menu__icon span::before {
  top: -12px;
}
.menu__icon span::after {
  top: 12px;
}
@media (max-width: 767px) {
  .menu__icon {
    display: block;
  }
}
.menu__body {
  z-index: 3;
}
@media (max-width: 767px) {
  .menu__body {
    top: -100%;
    overflow: auto;
    z-index: 1;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #313131;
    color: #fff;
    text-align: center;
    padding-top: 100px;
    font-size: 34px;
    line-height: 2;
    transition: all 0.3s ease-in 0s;
  }
  .menu__body_active {
    top: 0;
  }
  .menu__body a {
    color: #fff;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .menu__list {
    flex-direction: column;
  }
}
@media (min-width: 767px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}
.menu__link:hover {
  transition: all 0.3s ease 0s;
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}

.actions-header {
  z-index: 3;
  max-width: 250px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: 450;
  line-height: 1.3; /* 22px/17 */
}
.actions-header__button {
  max-width: 152px;
  flex-grow: 1;
}
.actions-header__link {
  flex-grow: 0;
}
.actions-header__link:hover {
  transition: all 0.3s ease 0s;
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}
@media (max-width: 467px) {
  .actions-header__link {
    display: none;
  }
}
@media (max-width: 767px) {
  .actions-header {
    padding-left: 0;
    order: 2;
  }
}
@media (max-width: 467px) {
  .actions-header {
    justify-content: end;
  }
}

.page {
  padding-top: 65px;
  padding-bottom: 65px;
}

.main-section:not(:last-child) {
  margin-bottom: 150px;
}
.main-section__container {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
  padding: 0 70px;
  position: relative;
}
.main-section__container::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/img-decor/dec-01.svg") 50% 12.76% no-repeat;
}
.main-section__container::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: -75%;
  background: url("../img/img-decor/dec-02.svg") 0 0 no-repeat;
}
.main-section__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}
@media (max-width: 760px) {
  .main-section__columns {
    flex-direction: column;
    row-gap: 50px;
  }
}
.main-section__column {
  flex: 1 1 581px;
  padding: 0 15px;
  z-index: 2;
  position: relative;
}
@media (max-width: 760px) {
  .main-section__column {
    flex: 1 1 auto;
  }
}
.main-section__column:nth-child(2) {
  justify-content: center;
  padding: 0;
}
@media (max-width: 991.98px) {
  .main-section__column:nth-child(2) {
    flex: 1 0 35%;
    align-self: end;
  }
}
@media (max-width: 760px) {
  .main-section__column:nth-child(2) {
    flex: 1 1 300px;
    width: 100%;
  }
}
.main-section__text {
  position: relative;
  z-index: 5;
}
.main-section__image {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 157.487091%; /* 915px/581 */
  margin-right: 5%; /* 67px/1340 */
  overflow: hidden;
}
@media (max-width: 760px) {
  .main-section__image {
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    margin-right: 0;
    overflow: auto;
  }
  .main-section__image img {
    display: block;
    width: 100%;
    width: 100%;
    position: static;
    top: 0;
    left: 0;
    z-index: 4;
  }
}
.main-section__image img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-section__image::before, .main-section__image::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #ffe600;
  width: 90%;
  bottom: 0;
  left: 5%;
  z-index: 0;
}
.main-section__image::before {
  height: 50%;
}
.main-section__image::after {
  border-radius: 50%;
  height: 50%;
  bottom: 25%;
}

.text-main {
  font-family: "Circular Std";
  font-style: normal;
  color: #313131;
}
.text-main__title:not(:last-child) {
  margin-bottom: 18px;
}
@media (max-width: 767.98px) {
  .text-main__title {
    padding-top: 100px;
  }
}
.text-main__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.text-main__subtitle:not(:last-child) {
  margin-bottom: 31px;
}
.text-main__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #313131;
}
.text-main__text:not(:last-child) {
  margin-bottom: 66px;
}
.main-title {
  font-weight: 900;
  font-size: 100px;
  line-height: 126px;
  position: relative;
  max-width: 524px;
  height: 213px;
}
.main-title__first {
  position: absolute;
  width: auto;
  top: 0;
  left: 0;
  z-index: 1;
}
.main-title__ampersant {
  position: absolute;
  width: auto;
  font-size: 140px;
  color: #fff;
  -webkit-text-stroke: 1px #313131;
  top: 67px;
  left: -5px;
  z-index: 0;
}
.main-title__last {
  position: absolute;
  width: auto;
  bottom: 2px;
  left: 72px;
  z-index: 1;
}
@media (max-width: 1000px) {
  .main-title {
    font-size: 88px;
  }
}
@media (max-width: 500px) {
  .main-title {
    font-size: 78px;
  }
}
@media (max-width: 420px) {
  .main-title {
    font-size: 60px;
  }
}
@media (max-width: 350px) {
  .main-title {
    font-size: 55px;
  }
}

.form-main {
  display: flex;
  border-radius: 5px;
  outline: 1px solid #000;
}
@media (max-width: 767.98px) {
  .form-main {
    display: flex;
    flex-direction: column;
    outline: 1px solid transparent;
  }
}
.form-main__input {
  flex: 1 1 auto;
  padding: 17px;
  font-size: 17px;
  text-overflow: ellipsis;
  line-height: 1.294; /* 22px/17 */
}
.form-main__input::-moz-placeholder {
  color: #000;
  opacity: 0.2;
}
.form-main__input::placeholder {
  color: #000;
  opacity: 0.2;
}
@media (max-width: 767.98px) {
  .form-main__input {
    border-radius: 5px;
    outline: 1px solid #000;
  }
  .form-main__input:not(:last-child) {
    margin-bottom: 10px;
  }
}
.form-main__button {
  flex: 0 1 auto;
}
.form-main__button span {
  white-space: nowrap;
}
@media (max-width: 767.98px) {
  .form-main__button {
    border-radius: 5px;
  }
}

.partners__container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.partners__container::after {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 190px;
  top: 300px;
  left: -160.38px;
  background: url("../img/img-decor/dec-03.svg") 0 0 no-repeat;
}
.partners:not(:last-child) {
  margin-bottom: 140px;
}
.partners__columns {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 998.98px) {
  .partners__columns {
    flex-direction: column;
  }
}
.partners__item {
  flex: 1 1 50%;
}
@media (max-width: 1159.98px) {
  .partners__item:first-child {
    flex: 1 1 33%;
    padding-right: 15px;
  }
}
.partners__title {
  font-size: 65px;
  line-height: 82px;
  max-width: 491px;
  color: #313131;
}
.partners__title:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 998.98px) {
  .partners__title {
    max-width: 100%;
    text-align: center;
  }
}
.partners__text {
  max-width: 491px;
  font-size: 20px;
  line-height: 25px;
  color: #313131;
}
@media (max-width: 998.98px) {
  .partners__text {
    max-width: 100%;
    text-align: center;
  }
}
.images-partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 40px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 767.98px) {
  .images-partners {
    row-gap: 12px;
  }
}
.images-partners__item {
  flex: 0 1 261px;
  width: 261px;
  height: 108px;
  overflow: hidden;
  padding: 5px;
  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.05);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (any-hover: hover) {
  .images-partners__item:hover {
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
  }
}
@media (max-width: 1159.98px) {
  .images-partners__item {
    flex: 1 1 auto;
  }
}
@media (max-width: 998.98px) {
  .images-partners__item {
    flex: 1 1 261px;
  }
}
@media (max-width: 767.98px) {
  .images-partners__item {
    flex: 1 1 261px;
    height: 68px;
  }
}

.about-us {
  padding-bottom: 191px;
  position: relative;
}
.about-us:not(:last-child) {
  margin-bottom: 140px;
}
.about-us::before {
  content: "";
  width: 82.5%; /* 1188/1440px */
  height: calc(99% - 343px); /* 1436/1440 */
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffe500;
  opacity: 0.1;
  border-radius: 0px 300px 0px 0px;
}
.about-us__container {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.about-us__container::after {
  content: "";
  display: block;
  position: absolute;
  width: 160px;
  height: 190px;
  bottom: -300px;
  left: -80px;
  background: url("../img/img-decor/dec-03.svg") 0 0 no-repeat;
  z-index: 1;
}
.about-us__columns {
  display: flex;
  align-items: end;
}
@media (max-width: 989.98px) {
  .about-us__columns {
    flex-direction: column;
    align-items: stretch;
    row-gap: 50px;
  }
}
@media (max-width: 989.98px) {
  .about-us__item {
    flex: 1 1 auto;
  }
}
.about-us__item:first-child {
  flex: 0 1 555px;
  padding-left: 45px;
  padding-right: 50px;
}
.about-us__item:first-child h2:first-child {
  padding-left: 40px;
}
.about-us__item:first-child p:first-of-type {
  padding-left: 40px;
  margin-bottom: 0;
}
.about-us__item:last-child {
  flex: 1 1 675px;
  padding-left: 35px;
}
.about-us__item:last-child h2:first-child {
  max-width: 418px;
}
.about-us__item:last-child p:first-of-type {
  max-width: 418px;
  margin-bottom: 0;
}
.about-us__item p:not(:last-child) {
  margin-bottom: 25.3px;
}
.about-us__title {
  font-size: 65px;
  line-height: 1.26;
  color: #313131;
}
.about-us__title:not(:last-child) {
  margin-bottom: 30px;
}
.about-us__text {
  font-size: 20px;
  line-height: 1.25; /* 25px/20 */
  color: #5f5f5f;
}
.about-us__image {
  position: relative;
}
.about-us__image:not(:last-child) {
  margin-bottom: 75px;
}
.about-us__image_left-top-conor::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 22px;
  left: -25px;
  border: 1px solid #313131;
  border-radius: 200px 0px 0px 0px;
  z-index: 3;
}
.about-us__image_right-bottom-conor {
  transform: translateY(70px);
  max-width: 586px;
}
.about-us__image_right-bottom-conor::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 22px;
  left: 25px;
  border: 1px solid #313131;
  border-radius: 0px 0px 200px 0px;
  z-index: 3;
}
.about-us__img-wrapper {
  position: relative;
  padding-bottom: 132.80943%; /* 676/509 */
  margin-top: 75px;
  overflow: hidden;
}
.about-us__img-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-us__img-wrapper_left-top-conor {
  border-radius: 200px 0px 0px 0px;
}
.about-us__img-wrapper_right-bottom-conor {
  border-radius: 0px 0px 200px 0px;
}

.how-it-works {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #5f5f5f;
}
.how-it-works:not(:last-child) {
  margin-bottom: 140px;
}
.how-it-works__container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.how-it-works__container::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 190px;
  bottom: -189px;
  right: -140px;
  background: url("../img/img-decor/dec-03.svg") 0 0 no-repeat;
}
.how-it-works__columns {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -20px;
}
.how-it-works__column {
  flex: 1 1 50%;
  padding: 0 20px;
}
.how-it-works__title {
  font-size: 65px;
  line-height: 82px;
}
.how-it-works__title:not(:last-child) {
  margin-bottom: 30px;
}
.how-it-works__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%; /* 25px/20 */
}
.how-it-works__text:not(:last-child) {
  margin-bottom: 40px;
}
.how-it-works__actions {
  display: flex;
  gap: 30px;
}
.how-it-works__actions:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 415px) {
  .how-it-works__actions {
    flex-wrap: wrap;
    justify-content: stretch;
  }
  .how-it-works__actions .button {
    width: 100%;
    text-align: center;
  }
}
.spollers__item {
  padding: 32px;
  background-color: transparent;
  border-radius: 10px;
}
.spollers__item:not(:last-child) {
  margin-bottom: 30px;
}
.spollers__item.active {
  box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
  transition: all 0.3s ease 0s;
}
.spollers__title {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  opacity: 0.88;
}
.spollers__title span {
  display: inline-block;
  width: 20px;
  height: 1px;
}
.spollers__title span::before, .spollers__title span::after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background-color: #313131;
  border-radius: 1px;
}
.spollers__title span::after {
  transform: rotate(-90deg);
  transition: all 0.3s ease 0s;
}
.spollers__item.active > .spollers__title > span::after {
  transform: rotate(-180deg);
  transition: all 0.3s ease 0s;
}
.spollers__body {
  font-size: 0;
  opacity: 0;
  height: 0;
  font-size: 18px;
  line-height: 23px;
  color: #5f5f5f;
  transition: opacity, padding 0.6s ease 0s;
}
.spollers__item.active > .spollers__body {
  font-size: inherit;
  padding-top: 29px;
  opacity: 1;
  height: 100%;
  transition: opacity 0.3s ease 0s;
}

.blog {
  padding-bottom: 45.01px;
}
.blog:not(:last-child) {
  margin-bottom: 140px;
}
.blog__container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.blog__title {
  max-width: 662px;
  font-size: 65px;
  line-height: 126.153846%; /* 82px/65 */
}
.blog__title:not(:last-child) {
  margin-bottom: 123px;
}
@media (max-width: 767.89px) {
  .blog__title {
    font-size: 45px;
  }
}
.posts {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 767.98px) {
  .posts {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (max-width: 500px) {
  .posts {
    flex-direction: column;
    row-gap: 120px;
  }
}
.posts__column {
  padding-left: 40px;
  padding-right: 40px;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 85px;
  background: #ffffff;
  box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
}
@media (max-width: 767.98px) {
  .posts__column {
    padding-left: 20px;
    padding-right: 20px;
    row-gap: 45px;
  }
}
.posts__image {
  margin-top: -33.1px;
  display: block;
  position: relative;
  padding-bottom: 40.298507%; /* 216/536 */
}
.posts__image:not(:last-child) {
  margin-bottom: 30px;
}
.posts__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.posts__label {
  position: absolute;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #ff5f5f;
  bottom: -50px;
  left: 0;
}
.posts__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  color: #313131;
  opacity: 0.88;
}
.posts__small-text {
  padding: 30.01px 30px 45.01px 30px;
  background-color: #eef7fb;
  font-size: 18px;
  line-height: 23px;
  color: #5f5f5f;
  margin-bottom: -35.08px;
}
@media (max-width: 767.98px) {
  .posts__small-text {
    padding: 15px 15px 30.01px 15px;
  }
}

.faqs:not(:last-child) {
  margin-bottom: 140px;
}
@media (max-width: 767.89px) {
  .faqs:not(:last-child) {
    margin-bottom: 70px;
  }
}
.faqs__container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.faqs__container:not(:last-child) {
  margin-bottom: 60px;
}
.faqs__title {
  text-align: center;
  font-size: 65px;
  line-height: 126.153846%; /* 82px/65 */
  color: #313131;
}
.faqs__title:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 767.89px) {
  .faqs__title {
    font-size: 45px;
  }
}
.faqs__text {
  max-width: 720px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #5f5f5f;
}
.faqs__cards {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: rgba(255, 229, 0, 0.0392156863);
}
@media (max-width: 500px) {
  .faqs__cards {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 500px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cards__item {
  padding: 25px 30px 34px 30px;
  background: #ffffff;
  border: 1px solid #f8f9fc;
  box-shadow: 0px 20px 40px rgba(141, 147, 201, 0.08);
  border-radius: 10px;
}
.cards__q {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #313131;
}
.cards__q:not(:last-child) {
  margin-bottom: 35px;
}
.cards__a {
  font-size: 18px;
  line-height: 23px;
  color: #5f5f5f;
}

.testimonials__container {
  max-width: 1025px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.testimonials__title {
  font-size: 65px;
  line-height: 126.153846%; /* 82px/65 */
  text-align: center;
  color: #313131;
}
.testimonials__title:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 767.89px) {
  .testimonials__title {
    font-size: 45px;
  }
}
.testimonials__text {
  max-width: 720px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #5f5f5f;
}
.testimonials__text:not(:last-child) {
  margin-bottom: 67px;
}
.testimonials__columns {
  display: flex;
  -moz-column-gap: 49px;
       column-gap: 49px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .testimonials__columns {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.testimonials__item-column {
  flex: 0 1 45.65%;
}
.testimonials__item-column:first-child {
  flex: 1 1 468px;
}
.testimonials__content:not(:last-child) {
  margin-bottom: 60px;
}
.testimonials__item-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  color: #313131;
  opacity: 0.88;
}
.testimonials__item-title:not(:last-child) {
  margin-bottom: 20px;
}
.testimonials__item-text {
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
}
@media (max-width: 500px) {
  .testimonials__data {
    display: flex;
    row-gap: 20px;
    justify-content: space-between;
    flex-flow: wrap-reverse;
  }
}
.testimonials__rating:not(:last-child) {
  margin-bottom: 40px;
}
.testimonials__item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #313131;
  opacity: 0.88;
}
.testimonials__item-info {
  font-size: 18px;
  line-height: 127.777778%; /* 23px/18 */
  color: #b8b8b8;
}
.testimonials__img {
  position: relative;
  padding-bottom: 163%;
}
.testimonials__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-wrapper {
  min-width: 0;
}

.swiper-pagination {
  text-align: left;
}
@media (max-width: 767.89px) {
  .swiper-pagination {
    text-align: center;
  }
}

.swiper-pagination-bullet {
  background-color: #eef7fb;
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0 3px;
}

.swiper-pagination-bullet-active {
  background-color: #313131;
}

.rating__item {
  display: inline-block;
  width: 25px;
  height: 25px;
}
.rating__item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../img/testemonials/rating/01.svg") 0 0 no-repeat;
}

.footer {
  color: #fff;
  background-color: #313131;
}
.footer__container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer__subscribe:not(:last-child) {
  margin-bottom: 187px;
}
.footer__title {
  font-size: 20px;
  line-height: 126.5%; /* 25.3/20 */
}
.footer__title:not(:last-child) {
  margin-bottom: 28px;
}
.footer__list {
  font-size: 14px;
  line-height: 1.265; /* 17.71/14 */
}
.footer__list-item {
  max-width: 135px;
}
.footer__list-item:not(:last-child) {
  margin-bottom: 23px;
}
.footer__copyright {
  text-align: center;
  padding: 23px 0;
}

.footer-form {
  padding-top: 167px;
  text-align: center;
}
.footer-form__title {
  font-size: 65px;
  max-width: 490px;
  margin: 0 auto;
}
.footer-form__title:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 350px) {
  .footer-form__title {
    font-size: 45px;
  }
}
.footer-form__line {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .footer-form__line {
    flex-direction: column;
    row-gap: 20px;
  }
}
.footer-form__input {
  flex: 1 1 auto;
  padding: 17px;
  font-size: 17px;
  color: #fff;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  text-overflow: ellipsis;
}
.footer-form__input:focus {
  color: #000;
  background-color: #a0a0a0;
  border-radius: 5px;
}
.footer-form__input:focus::-moz-placeholder {
  color: #000;
}
.footer-form__input:focus::placeholder {
  color: #000;
}
.info-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
@media (max-width: 399.98px) {
  .info-footer__item {
    text-align: center;
  }
}
.info-footer .logo {
  color: #fff;
}
.info-footer .logo:not(:last-child) {
  margin-bottom: 32.22px;
}
@media (max-width: 767.98px) {
  .info-footer .main-info {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    text-align: center;
  }
}
@media (max-width: 399.98px) {
  .info-footer .main-info {
    grid-row-start: auto;
    grid-row-end: auto;
    grid-column-start: auto;
    grid-column-end: auto;
    justify-self: center;
    text-align: center;
  }
}
.info-footer .main-info__text {
  font-size: 14px;
  line-height: 1.265; /* 17.71/14 */
  max-width: 200px;
}
@media (max-width: 767.98px) {
  .info-footer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 399.98px) {
  .info-footer {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}