// Всі стилі в цьому файлі , будуть  ще й імпортовані

// Імпортовані фрагменти :
@import "nullstyle"; // Обнуляючий стиль
@import "fonts"; // Шрифти

//========================================================================================================================================================
// COMMON

//========================================================================================================================================================
body {
    height: 100%;
    font-size: 16px;
    font-family: "Circular Std", serif;
    @media (max-width: 767px) {
        .lock {
            overflow: hidden;
        }
    }
}
.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    main {
        flex-basis: auto;
        flex-grow: 1;
    }
    footer {
        flex-basis: auto;
        flex-grow: 0;
    }
}
.button {
    font-size: 17px;
    line-height: 1.295; /* 22/17 */
    color: #fff;
    padding: 18px 35px;
    background: #313131;
    border-radius: 5px;
    box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
        0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05),
        0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    &:hover {
        color: #313131;
        background-color: #e0e0e0;
        transition: all 0.3s ease 0s;
        box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
            0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05),
            0px 8.14815px 6.51852px rgba(49, 49, 49, 0.1), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.1);
    }
    &:active {
        background-color: #a0a0a0;
    }
    // .button_asymmetric
    &_asymmetric {
        border-radius: 0 5px 5px 0;
    }
    &_alt {
        color: #313131;
        background-color: #e0e0e0;
    }
}
.logo {
    z-index: 3;
    margin-right: 30px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.28; /* 32px/25 */
    letter-spacing: -0.06em;
    color: #313131;
}

//========================================================================================================================================================
// HEADER
//========================================================================================================================================================
.header {
    z-index: 50;
    padding-top: 18px;
    padding-bottom: 18px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 86px;
        z-index: 2;
        background-color: #fff;
    }
    @media (max-width: 767px) {
        &::before {
            // content: "";
            // display: block;
            // position: absolute;
            // top: 0;
            // left: 0;
            // width: 100%;
            // height: 86px;
            // z-index: 2;
            // background-color: transparent;
        }
        &__background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 86px;
            z-index: 2;
            background-color: #fff;
        }
    }

    // .header__container

    &__container {
        z-index: 3;
        max-width: 1340px;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 767px) {
            justify-content: end;
            column-gap: 15px;
        }
    }

    // .header__logo

    &__logo {
        z-index: 3;
        margin-right: 30px;
        font-weight: 700;
        font-size: 25px;
        line-height: 1.28; /* 32px/25 */
        letter-spacing: -0.06em;
        color: #313131;
        @media (max-width: 767px) {
            flex-grow: 1;
            margin: 0;
            span {
                display: block;
                border-radius: 50%;
                min-width: 58px;
                width: 58px;
                height: 58px;
                padding-left: 12px;
                letter-spacing: 48px;
                font-size: 55px;
                overflow: hidden;
                background-color: #ffe600;
                box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
                    0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05),
                    0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593),
                    0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
            }
        }
    }

    // .header__menu

    &__menu {
        font-size: 17px;
        font-weight: 450;
        line-height: 22px;
    }

    &__actions {
        flex: 1 1 235px;
        @media (min-width: 767px) {
            flex: 1 0 235px;
        }
    }
}
.menu {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 767px) {
        justify-content: end;
        order: 3;
        flex: 0 0 auto;
    }

    // .menu__icon

    &__icon {
        z-index: 3;
        display: none;
        // display: block;
        width: 58px;
        height: 58px;
        flex: 0 0 58px;
        background: #313131;
        box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
            0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05),
            0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
        border-radius: 5px;
        cursor: pointer;
        span {
            display: block;
            width: calc(100% - 12px);
            height: 2px;
            background-color: #ffe600;
            margin: 0 auto;
            position: relative;
            &::before,
            &::after {
                content: "";
                display: block;
                border-radius: 2px;
                width: 100%;
                height: 2px;
                background-color: #ffe600;
                margin: 0 auto;
                position: absolute;
                left: 0;
            }
            &::before {
                top: -12px;
            }
            &::after {
                top: 12px;
            }
        }
        @media (max-width: 767px) {
            display: block;
        }
    }

    // .menu__body

    &__body {
        z-index: 3;
        @media (max-width: 767px) {
            &_active {
                top: 0;
            }
            top: -100%;
            overflow: auto;
            z-index: 1;
            position: fixed;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #313131;
            color: #fff;
            text-align: center;
            padding-top: 100px;
            font-size: 34px;
            line-height: 2;
            transition: all 0.3s ease-in 0s;
            a {
                color: #fff;
            }
        }
    }

    // .menu__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    // .menu__item

    &__item {
        @media (min-width: 767px) {
            &:not(:last-child) {
                margin-right: 50px;
            }
        }
    }

    // .menu__link

    &__link {
        &:hover {
            transition: all 0.3s ease 0s;
            text-decoration: 2px underline;
            box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
                0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05),
                0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
        }
    }
}
.actions-header {
    z-index: 3;
    max-width: 250px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: 450;
    line-height: 1.3; /* 22px/17 */

    &__button {
        max-width: 152px;
        flex-grow: 1;
    }
    &__link {
        &:hover {
            transition: all 0.3s ease 0s;
            text-decoration: 2px underline;
            box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
                0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05),
                0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
        }
        flex-grow: 0;
        @media (max-width: 467px) {
            display: none;
        }
    }
    @media (max-width: 767px) {
        padding-left: 0;
        order: 2;
    }
    @media (max-width: 467px) {
        justify-content: end;
    }
}
.icon-menu {
}
//========================================================================================================================================================
// MAIN
//========================================================================================================================================================
.page {
    padding-top: 65px;
    padding-bottom: 65px;
    // .page__container

    &__container {
        max-width: 1340px;
        padding: 0 15px;
        margin: 0 auto;
        @media (max-width: 500px) {
            padding: 0 10px;
        }
        @media (max-width: 400px) {
            padding: 0 5px;
        }
    }
}
//========================================================================================================================================================
// .main-section   767.98

.main-section {
    padding: 0 65px;
    @media (max-width: 991.98px) {
        padding: 0 15px;
    }
    // .main-section__columns

    &__columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 -15px;
        @media (max-width: 400px) {
            flex-direction: column;
        }
    }

    // .main-section__column

    &__column {
        flex: 0 1 581px;
        padding: 0 15px;
        z-index: 2;
        @media (max-width: 991.98px) {
            flex: 1 1 auto;
        }

        &:nth-child(2) {
            justify-content: center;
            padding: 0;
            @media (max-width: 991.98px) {
                flex: 1 0 35%;
                align-self: end;
            }
        }
    }

    // .main-section__text

    &__text {
        position: relative;
        z-index: 5;
    }

    // .main-section__image

    &__image {
        width: 100%;
        position: relative;
        padding-bottom: 157.487091%; /* 915px/581 */
        margin-right: 5%; /* 67px/1340 */
        overflow: hidden;
        img {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            object-fit: contain;
        }
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            background-color: #ffe600;
            width: calc(90%);
            bottom: 0;
            left: 5%;
            z-index: 0;
        }
        &::before {
            height: 50%;
        }
        &::after {
            border-radius: 50%;
            height: 50%;
            bottom: 25%;
        }
        @media (max-width: 767.98px) {
            margin-right: 0;
        }
    }
}
.text-main {
    font-family: "Circular Std";
    font-style: normal;
    color: #313131;

    // .text-main__title

    &__title {
        &:not(:last-child) {
            margin-bottom: 18px;
        }
        @media (max-width: 767.98px) {
            padding-top: 100px;
        }
    }

    // .text-main__subtitle

    &__subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        &:not(:last-child) {
            margin-bottom: 31px;
        }
        @media (max-width: 767.98px) {
            &:not(:last-child) {
                max-width: 200px;
            }
        }
    }

    // .text-main__text

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #313131;
        &:not(:last-child) {
            margin-bottom: 66px;
        }
        @media (max-width: 767.98px) {
            &:not(:last-child) {
                max-width: 200px;
            }
        }
    }

    // .text-main__form

    &__form {
    }
}
.main-title {
    font-weight: 900;
    font-size: 100px;
    line-height: 126px;
    position: relative;
    max-width: 524px;
    height: 213px;
    &__first {
        position: absolute;
        width: auto;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &__ampersant {
        position: absolute;
        width: auto;
        font-size: 140px;
        color: #fff;
        -webkit-text-stroke: 1px #313131;
        top: 67px;
        left: -5px;
        z-index: 0;
    }
    &__last {
        position: absolute;
        width: auto;
        bottom: 2px;
        left: 72px;
        z-index: 1;
    }
    @media (max-width: 500px) {
        font-size: 78px;
    }

    @media (max-width: 350px) {
        font-size: 55px;
    }
}
.form-main {
    display: flex;
    border-radius: 5px;
    // border: 1px solid #000;
    outline: 1px solid #000;
    @media (max-width: 767.98px) {
        display: flex;
        flex-direction: column;
        outline: 1px solid transparent;
    }

    // .form-main__input

    &__input {
        flex: 1 1 auto;
        padding: 17px;
        font-size: 17px;
        text-overflow: ellipsis;
        line-height: 1.294; /* 22px/17 */
        &::placeholder {
            color: #000;
            opacity: 0.2;
        }
        @media (max-width: 767.98px) {
            border-radius: 5px;
            outline: 1px solid #000;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    // .form-main__button

    &__button {
        flex: 0 1 auto;
        span {
            white-space: nowrap;
        }
        @media (max-width: 767.98px) {
            border-radius: 5px;
        }
    }
}

//========================================================================================================================================================
// FOOTER
//========================================================================================================================================================

.footer {
    color: #fff;
    background-color: #313131;
    // .footer__container

    &__container {
        max-width: 1230px;
        margin: 0 auto;
        padding: 0 15px;
    }

    // .footer__subscribe

    &__subscribe {
        &:not(:last-child) {
            margin-bottom: 187px;
        }
    }

    // .footer__info

    &__info {
    }

    // .footer__title
    &__title {
        font-size: 20px;
        line-height: 126.5%; /* 25.3/20 */
        &:not(:last-child) {
            margin-bottom: 28px;
        }
    }

    // .footer__list

    &__list {
        font-size: 14px;
        line-height: 1.265; /* 17.71/14 */
    }

    // .footer__list-item

    &__list-item {
        max-width: 135px;
        &:not(:last-child) {
            margin-bottom: 23px;
        }
    }

    // .footer__copyright

    &__copyright {
        text-align: center;
        padding: 23px 0;
    }
    .logo {
        color: #fff;
        &:not(:last-child) {
            margin-bottom: 32.22px;
        }
    }
    .links {
    }
    .footer-title {
    }
    .company {
    }
    .get-in-touch {
    }
    .main-info {
        &__text {
            font-size: 14px;
            line-height: 1.265; /* 17.71/14 */
            max-width: 200px;
        }
    }
}
.footer-form {
    padding-top: 167px;
    text-align: center;

    // .footer-form__title

    &__title {
        font-size: 65px;
        max-width: 490px;
        margin: 0 auto;
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        @media (max-width: 350px) {
            font-size: 45px;
        }
    }

    // .footer-form__line

    &__line {
        display: flex;
        column-gap: 20px;
        max-width: 600px;
        margin: 0 auto;
        @media (max-width: 500px) {
            flex-direction: column;
            row-gap: 20px;
        }
    }

    // .footer-form__input

    &__input {
        flex: 1 1 auto;
        padding: 17px;
        font-size: 17px;
        color: #fff;
        border-radius: 5px 5px 0 0;
        border-bottom: 1px solid #e0e0e0;
        background-color: transparent;
        text-overflow: ellipsis;
        &:focus {
            color: #000;
            background-color: #a0a0a0;
            border-radius: 5px;
            &::placeholder {
                color: #000;
            }
        }
    }

    // .footer-form__button

    &__button {
    }
}

.info-footer {
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: space-between;
    padding-bottom: 50px;
    flex-wrap: wrap;

    // .info-footer__item

    &__item {
    }
}
